<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="static/img/logo.ico">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/administracion_spash.css')}}">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/administracion.css')}}">


<script src="https://kit.fontawesome.com/680570ce8a.js" crossorigin="anonymous"></script>


</head>

<body class="welcome">
    <span id="splash-overlay" class="splash"></span>
    <span id="welcome" class="z-depth-4"></span>

    <header>

        <div class="container-all">
            <div class=" container-box ">
                <!--caja 1-->
                <a href="{{url_for('Repartidores')}}">
                    <!-- Arriva va el mercado de productos -->
                    <div class="box box1 ">
                        <i class="fas fa-store icon icon"></i>
                        <h4 class="title ">Repartidores</h4>
                        <p>Interfaz solo para repartidores y donde deben llevar los envios</p>
                        <div class="background-hover ">

                        </div>
                    </div>
                </a>
                <!--caja 2-->
                <a href="{{url_for('Estado_envio')}}">
                    <div class="box box2">
                        <i class="fas fa-cash-register icon icon"></i>
                        <h4 class="title ">Estado de envio</h4>
                        <p>Cambia el estado de envio</b>
                        </p>
                        <div class="background-hover ">

                        </div>
                    </div>
                </a>
                <!--caja 3-->
                <a  href="{{url_for('Admin_ingresos')}}">
                    <div class="box box3">
                        <i class="fas fa-child icon"></i>
                        <h4 class="title ">Administración</h4>
                        <p>Administra el estado de cuenta</p>
                        <div class="background-hover "></div>
                    </div>
                </a>
                <!--caja 4-->
                <a href="#">
                    <div class="box box4 ">
                        <i class="far fa-comments icon"></i>
                        <h4 class="title ">Chat</h4>
                        <p>Reporta alguna falla / Actualizacion</p>
                        <div class="background-hover ">

                        </div>
                    </div>
                </a>
                <!--caja 5-->
                <a href="#">
                    <div class="box box5">
                        <i class="far fa-comment-alt icon"></i>
                        <h4 class="title ">Comentarios</h4>
                        <p>Deje su comentario.</p>
                        <div class="background-hover ">

                        </div>
                    </div>
                </a>
                <!--caja 6-->
                <a  href="{{url_for('login.Iniciar_Sesion')}}">
                    <div class="box box6 ">
                        <i class="fab fa-angellist icon"></i>
                        <h4 class="title ">Salir</h4>
                        <p>Presiona para salir</p>
                        <div class="background-hover ">

                        </div>
                    </div>
                </a>

            </div>
        </div>


    </header>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>