{% macro botanas()%}
<h3>BOTANAS</h3>
            <ul>
                <li><img src="static/img/botanas/descarga (20).png" alt="barcel"></li>
                <li><img src="static/img/botanas/descargaY.png" alt="sabritas"></li>
                <li><img src="static/img/botanas/descargaX.jpg" alt="paketaxo"></li>
                <li><img src="static/img/botanas/6a1bbb2556045c86d6e9064551f86ea2.jpg" alt="cacahuateKarate"></li>
                <li><img src="static/img/botanas/asdasdasda.jpg" alt="masterChips"></li>
                <li><img src="static/img/botanas/descarga (20).png" alt="barcel"></li>
                <li><img src="static/img/botanas/descargaY.png" alt="sabritas"></li>
                <li><img src="static/img/botanas/descargaX.jpg" alt="paketaxo"></li>
                <li><img src="static/img/botanas/6a1bbb2556045c86d6e9064551f86ea2.jpg" alt="cacahuateKarate"></li>
            </ul>
{% endmacro%}