{% macro contactanos() %}
     <a href="contacto.html" ><h2>contactanos</h2>
                 <img src="static/img/contacto0.jpg" width="70%">
                </a>
                 <img src="static/img/redes.png" width="50%" >

                 <div id="redes">
                        <a href="https://twitter.com/tiendas3b/" target="blank"><img src="static/img/twitter.png"></a>
                        <a href="https://www.facebook.com/Tiendas3B/" target="blank"><img src="static/img/facebook.png"></a>
                        <a href="https://www.youtube.com/user/Tiendas3BBB" target="blank"><img src="static/img/youtube.png"></a>
                        <a href="https://mx.linkedin.com/company/tiendas3b/" target="blank"><img src="static/img/linkedin.png"></a>
                </div>  <br>
                <div id="des">
                    <a href="portafolioequipo.html" target="blank" ><h4>SOBRE<br>DESARROLLADORES</h4></a>
                </div>
 {% endmacro %}