{% extends "base.html" %}
{% block title %}Contacto{% endblock %}
{% block head %}
    {{ super() }}
<link rel="stylesheet" href=" {{url_for('static',filename='css/contacto_contacto_oficial.css')}}">
<link rel="stylesheet" href=" {{url_for('static',filename='css/tailwind.min.css')}}">
<link rel="stylesheet" href=" {{url_for('static',filename='css/custom.css')}}">
<link rel="shortcut icon" href="{{url_for('static',filename='img/logo.ico')}}">

{% endblock %}

{% block info%}
{%from "macro_contacto.html" import info%}
{{info()}}
{%endblock%}




