{% extends "base.html" %}
{% block title %}Casa{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="icon" href=" {{url_for('static',filename='img/logo.ico')}}">

{% endblock %}

{% block fruta  %}
{%from "frutas_y_verduras.html" import frutas %}
{{frutas()}}
{% endblock %}

{% block enlatado %}
{%from "enlatados.html" import enlatados %}
{{enlatados()}}
{% endblock %}

{% block botanas %}
{%from "botanas.html" import botanas %}
{{botanas()}}
{% endblock %}

{% block  refrescos  %}
{%from "refrescos.html" import refrescos %}
{{refrescos()}}
{% endblock %}

{% block licores  %}
{%from "vinos_y_licores.html" import licores %}
{{licores()}}
{% endblock %}