
{% extends "base.html" %}
{% block title %}Inicia{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" media="screen" href= {{url_for('static',filename='css/particulas')}}">
    <link rel="stylesheet" media="screen" href= {{url_for('static',filename='css/particulas.css')}}">
        <link rel="shortcut icon" herf=" {{url_for('static',filename='img/logo.ico')}}">
    <link rel="shortcut icon" herf=" {{url_for('static',filename='img/logo.ico')}}">
    <img src=" {{url_for('static',filename='img/logo.ico')}}">


{% endblock %}

{% block index %}
{% from "macro_particulas.html" import particulas %}
{{particulas()}}

{% endblock %}