{% extends "venta_base.html" %}
{% block title %}Refrescos{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href=" {{url_for('static',filename='css/venta_refrescos.css')}}">

{% endblock %}

{% block ventas_frutas%}
  <div class="container">

                    <div class="card">
                        <img src="static/img/refresco/r1.jpg">
                        <h4>7up 600 ml $10.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r2.jpg">
                        <h4>7up 1.5L $21.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r3.jpg">
                        <h4>7up 3L $30.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r4.jpg">
                        <h4>Mundet 600ml $13.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r5.jpg">
                        <h4>Mundet 1.5L $22.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r6.jpg">
                        <h4>Mundet 3L $31.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r7.jpg">
                        <h4>Mirinda 600ml $11.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r8.jpg">
                        <h4>Mirinda 1.5L $20.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r9.jpg">
                        <h4>Mirinda 3L $29.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r10.jpg">
                        <h4>Pepsi 600ml $11.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r11.jpg">
                        <h4>Pepsi 1.5L $20.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r12.jpg">
                        <h4>Pepsi 3L $33.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r13.jpg">
                        <h4>Coca 600 ml $13.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r14.jpg">
                        <h4>Coca 1.5L $18.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>
                    <div class="card">
                        <img src="static/img/refresco/r15.jpg">
                        <h4>Coca 3L $33.00</h4>
                            <input type="number" placeholder="cantidad" min="0" max="5">
                            <input type="submit" name="" value="Agregar a Carrito">
                    </div>

        <div class="card">
            <img src="static/img/refresco/j1.jpg">
            <h4>BoingMango 250ml $5.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j2.jpg">
            <h4>BoingMango 500ml $10.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j3.jpg">
            <h4>BoingMango 1L $19.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j4.jpg">
            <h4>BoingManzana 250ml $5.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j5.jpg">
            <h4>BoingManzana 500ml $10.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j6.jpg">
            <h4>BoingManzana 1L $19.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j7.jpg">
            <h4>BoingUva 250ml $5.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j8.jpg">
            <h4>BoingUva 500ml $10.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j9.jpg">
            <h4>BoingUva 1L $19.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j10.jpg">
            <h4>BoingDurazno 250ml $5.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j11.jpg">
            <h4>BoingDurazno 500ml $10.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j12.jpg">
            <h4>BoingDurazno 1L $19.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j13.jpg">
            <h4>BoingGuayaba 250ml $5.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j14.jpg">
            <h4>BoingGuayaba 500ml $10.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>
        <div class="card">
            <img src="static/img/refresco/j15.jpg">
            <h4>BoingGUayaba 1L $19.00</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="" value="Agregar a Carrito">
        </div>

    </div>


{% endblock %}