{% extends "venta_base.html" %}
{% block title %}Licores{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href=" {{url_for('static',filename='css/ventas_licores.css')}}">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/carritoCompras1.css')}}">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/carritoCompras3.css')}}">


{% endblock %}

{% block ventas_frutas%}
  <div id="lista-productos" class="container"  >

            <div class="card">
                <img src={{licores1.imagen}}>
                 <div class="info-card" >
                <h4>{{licores1.nombre}}</h4>
                <h4 class="precio">{{licores1.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="20" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
      <div class="card">
                <img src={{licores2.imagen}}>
                 <div class="info-card" >
                <h4>{{licores2.nombre}}</h4>
                <h4 class="precio">{{licores2.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="22" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores3.imagen}}>
                 <div class="info-card" >
                <h4>{{licores3.nombre}}</h4>
                <h4 class="precio">{{licores3.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="23" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores4.imagen}}>
                 <div class="info-card" >
                <h4>{{licores4.nombre}}</h4>
                <h4 class="precio">{{licores4.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="24" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores5.imagen}}>
                 <div class="info-card" >
                <h4>{{licores5.nombre}}</h4>
                <h4 class="precio">{{licores5.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="25" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores6.imagen}}>
                 <div class="info-card" >
                <h4>{{licores6.nombre}}</h4>
                <h4 class="precio">{{licores6.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="26" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores7.imagen}}>
                 <div class="info-card" >
                <h4>{{licores7.nombre}}</h4>
                <h4 class="precio">{{licores7.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="27" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores8.imagen}}>
                 <div class="info-card" >
                <h4>{{licores8.nombre}}</h4>
                <h4 class="precio">{{licores8.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="28" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores9.imagen}}>
                 <div class="info-card" >
                <h4>{{licores9.nombre}}</h4>
                <h4 class="precio">{{licores9.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="29" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores10.imagen}}>
                 <div class="info-card" >
                <h4>{{licores10.nombre}}</h4>
                <h4 class="precio">{{licores10.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="30" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores11.imagen}}>
                 <div class="info-card" >
                <h4>{{licores11.nombre}}</h4>
                <h4 class="precio">{{licores11.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="31" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores12.imagen}}>
                 <div class="info-card" >
                <h4>{{licores12.nombre}}</h4>
                <h4 class="precio">{{licores12.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="32" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores13.imagen}}>
                 <div class="info-card" >
                <h4>{{licores13.nombre}}</h4>
                <h4 class="precio">{{licores13.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="33" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>
<div class="card">
                <img src={{licores14.imagen}}>
                 <div class="info-card" >
                <h4>{{licores14.nombre}}</h4>
                <h4 class="precio">{{licores14.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="34" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            </div>
{% endblock %}