{% extends "venta_base.html" %}
{% block title %}Botanas{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href=" {{url_for('static',filename='css/ventas_botanas.css')}}">

{% endblock %}

{% block ventas_frutas%}

 <div class="container">
            <div class="card">
                <img src="static/img/botanas/descarga (1).jpg">
                <h4>Master Chips 50g<br>$18</h4>
                <input type="number" placeholder="cantidad" min="0" max="5">
                <input type="submit" name="papas" value="Agregar a Carrito">

            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (2).jpg">
                <h4>Sabritas Limón 50g<br>$14.00</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">

            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (3).jpg">
                <h4>Ruffles 50g<br>$13.00</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">

             </div>

            <div class="card">
                <img src="static/img/botanas/descarga (4).jpg">
                <h4>Papas Sabritas Picantes 50g<br>$13</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">

            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (5).jpg">
                <h4>Mezcladito 280g<br>$38.50</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">
            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (6).jpg">
                <h4>Quexo 280g<br>$38.50</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">
            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (7).jpg">
                <h4>Pa´su mecha 280g<br>$38.50</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (8).jpg">
                <h4>Totis Limón 50g<br>$11.00</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">
            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (9).jpg">
                <h4>Totis Picante 50g<br>$11.00</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">
            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (13).jpg">
                <h4>Cheetos<br>$9.00</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">
            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (15).jpg">
                <h4>Cheetos poffs<br>$9.00</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">
            </div>

            <div class="card">
                <img src="static/img/botanas/descarga (14).jpg">
                <h4>Cheetos flaming hot<br>$9.00</h4>
                    <input type="number" placeholder="cantidad" min="0" max="5">
                    <input type="submit" name="" value="Agregar a Carrito">
            </div>

        </div>

{% endblock %}