{% extends "venta_base.html" %}
{% block title %}Frutas{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href=" {{url_for('static',filename='css/venta_frutas.css')}}">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/carritoCompras1.css')}}">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/carritoCompras3.css')}}">
{% endblock %}

{% block ventas_frutas%}




        <div id="lista-productos" class="container"  >

            <div class="card">
                <img src={{fruta1.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta1.nombre}}</h4>
                <h4 class="precio">{{fruta1.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="47" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta2.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta2.nombre}}</h4>
                <h4 class="precio">{{fruta2.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="48" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta3.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta3.nombre}}</h4>
                <h4 class="precio">{{fruta3.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="49" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta4.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta4.nombre}}</h4>
                <h4 class="precio">{{fruta4.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="50" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta5.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta5.nombre}}</h4>
                <h4 class="precio">{{fruta5.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="51" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta6.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta6.nombre}}</h4>
                <h4 class="precio">{{fruta6.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="52" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta7.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta7.nombre}}</h4>
                <h4 class="precio">{{fruta7.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="53" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta8.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta8.nombre}}</h4>
                <h4 class="precio">{{fruta8.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="54" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta9.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta9.nombre}}</h4>
                <h4 class="precio">{{fruta9.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="55" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta10.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta10.nombre}}</h4>
                <h4 class="precio">{{fruta10.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="56" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta11.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta11.nombre}}</h4>
                <h4 class="precio">{{fruta11.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="57" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta12.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta12.nombre}}</h4>
                <h4 class="precio">{{fruta12.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="58" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta13.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta13.nombre}}</h4>
                <h4 class="precio">{{fruta13.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="59" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta14.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta14.nombre}}</h4>
                <h4 class="precio">{{fruta14.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="60" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta15.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta15.nombre}}</h4>
                <h4 class="precio">{{fruta15.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="61" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

            <div class="card">
                <img src={{fruta16.imagen}}>
                 <div class="info-card" >
                <h4>{{fruta16.nombre}}</h4>
                <h4 class="precio">{{fruta16.costo}}</h4>
                <input type="submit" name="agregar-carrito" data-id="62" class="agregar-carrito" value="Agregar a Carrito">
                 </div>
            </div>

        </div>
{% endblock %}