{% macro refrescos()%}
<h3>REFRESCOS Y AGUAS</h3>
                <ul>
                    <li><img src=" {{url_for('static',filename='img/refresco/a10.jpg')}}" alt="r13"></li>
                    <li><img src=" {{url_for('static',filename='img/refresco/r4.jpg')}}" alt="r4"></li>
                    <li><img src=" {{url_for('static',filename='img/refresco/r15.jpg')}}" alt="r15"></li>
                    <li><img src=" {{url_for('static',filename='img/refresco/r1.jpg')}}" alt="j4"></li>
                    <li><img src=" {{url_for('static',filename='img/refresco/j4.jpg')}}" alt="j9"></li>
                    <li><img src=" {{url_for('static',filename='img/refresco/j9.jpg')}}" alt="a14"></li>
                    <li><img src=" {{url_for('static',filename='img/refresco/a14.jpg')}}" alt="a143"></li>
                    <li><img src=" {{url_for('static',filename='img/refresco/a3.jpg')}}" alt="a3"></li>
                    <li><img src=" {{url_for('static',filename='img/refresco/a8.jpg')}}" alt="a8"></li>

                </ul>

{% endmacro%}