<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIENDAS 3B</title>
    <link rel="icon" href="static/img/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/inicio_duff.css')}}">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/sub.css')}}">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/pag.css')}}">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/usuario_navegador_oficial.css')}}">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/spash.css')}}">

{% from "macro_particulas.html" import particulas %}

</head>

<body class="welcome">
    <span id="splash-overlay" class="splash"></span>
    <span id="welcome" class="z-depth-4"></span>


    <header>

        <a  href="{{url_for('Usuario_index')}}" class="brand">Tienda 3b {{nombre}} {{apellido}}</a>
          <div class="menu">
            <div class="btn">
                <i class="fas fa-times close-btn"></i>
            </div>

                 <a class="nav-link"  href="{{url_for('Usuario_home')}}">Casa<i class="fas fa-home"></i></a>
            <a class="nav-link"  href="{{url_for('Usuario_contacto')}}">contacto<i class="fas fa-envelope"></i> </a>

            <ul id="menu1">

                <li>
                    <a  href="">Mi cuenta<i class="fas fa-user-circle"></i></a>
                <ul>
                    <li><a href="{{url_for('Pago')}}"> Pago</a></li>
                    <li><a href="">Historial</a></li>
                    <li><a href="{{url_for('Salir')}}">Salir</a></li>
                  </ul>
                </li>
            </ul>
        </div>

        <div class="btn">
            <i class="fas fa-bars menu-btn"></i>
        </div>
        <a class="nav-link" href="{{url_for('Salir')}}">Salir<i class="fas fa-building"></i></a>
    </header>

{{particulas()}}
    <script type="text/javascript">
        //javascript for navigation bar effect on scroll
        window.addEventListener("scroll", function() {
            var header = document.querySelector("header");
            header.classList.toggle('sticky', window.scrollY > 0);
        });

        //javascript for responsive navigation sidebar menu
        var menu = document.querySelector('.menu');
        var menuBtn = document.querySelector('.menu-btn');
        var closeBtn = document.querySelector('.close-btn');

        menuBtn.addEventListener("click", () => {
            menu.classList.add('active');
        });

        closeBtn.addEventListener("click", () => {
            menu.classList.remove('active');
        });
    </script>


</body>


</html>