{% extends "base_usuario.html" %}
{% block title %}Contacto{% endblock %}
{% block head %}
    {{ super() }}
<link rel="stylesheet" href=" {{url_for('static',filename='css/contacto_contacto_oficial.css')}}">
<link rel="shortcut icon" href="{{url_for('static',filename='img/logo.ico')}}">
<link rel="stylesheet" href=" {{url_for('static',filename='css/tailwind.min.css')}}">
<link rel="stylesheet" href=" {{url_for('static',filename='css/custom.css')}}">

{% endblock %}

{% block usuario_info%}
{%from "macro_usuario_contacto.html" import usuario_info%}
{{ usuario_info()}}
{%endblock%}




